@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Youtube Search Apps</h1>
    <p>Search for YouTube videos using our application.</p>
    <a href="/Home/Search">Search Videos</a>
</div>
